---
import Layout from '../../layouts/GhostBlogLayout.astro';
import Footer from '../../components/Footer.astro';
import BackLink from '../../components/BackLink.astro';

import { posts } from '../../lib/ghost';

export async function getStaticPaths() {
  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: post
    };
  });
}

const { title, html, published_at } = Astro.props;

const parsedDate = new Date(published_at);
const day = parsedDate.getDate();
const month = parsedDate.getMonth() + 1;

const formattedPublishedAt = `${day < 10 ? "0" + day : day}/${month < 10 ? "0" + month : month}/${parsedDate.getFullYear()}`; 
---

<Layout title="Dominik Piątek | Frontend Engineer">
  <main class="main">
    <BackLink text="blog index" href="/blog" />

    <article>
      <h1>{title}</h1>
      <p class="published-at-date">Published {formattedPublishedAt}</p>
      <Fragment set:html={html} />
    </article>

    <Footer />
  </main>
</Layout>

<style>
	.main {
		padding: 24px;
	}

  .main article {
    margin-bottom: 4rem;
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
  }

  :global(code[class*=language-], pre[class*=language-]) {
    font-size: 0.9em;
  }

  :global(pre[class*=language-]) {
    margin: 1rem 0;
  }

  .main article h1 {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
		font-size: 4rem;
    line-height: 1;
  }

  .published-at-date {
    display: inline-block;
    color: var(--columbia-blue);
    margin-bottom: 2rem;
    font-style: italic;
  }
</style>