---
import Layout from '../layouts/DefaultLayout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dominik Piątek">
	<main class="main">
		<section class="home">
			<p class="hello">Hello</p>
			<p>I'm Dominik Piątek, a Staff Frontend Engineer. </p>
			<p>I like to build stuff.</p>

			<ul class="links">
				<li><a href="https://github.com/dpiatek">Github</a></li>
				<li><a href="https://www.linkedin.com/in/dominik-piatek/">LinkedIn</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</section>

		<Footer />
	</main>
</Layout>

<style>
	.main {
		font-family: 'Bebas Neue', sans-serif;
		font-size: 2rem;
		padding: 24px;
	}

	.home p {
		margin-bottom: 0;
	}

	.hello {
		font-size: 4rem;
		font-size: clamp(4rem, 40cqi, 24rem);
		line-height: 1;
		margin: 0;
		background: var(--gradient-right);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.links {
		list-style: none;
		padding: 0;
		margin: 1.5rem 0;
	}

	.links li {
		display: inline-block;
	}
</style>
