---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <p>Built with <a href="https://astro.build">Astro</a>. Dominik Piątek © {currentYear}</p>
</footer>

<style>
  .footer {
		font-family: 'Bebas Neue', sans-serif;
		font-size: 1.2rem;
  }
</style>